.login{ 
    position: absolute;
    top: 30%;
    transform: translateY(-20%) translateX(50%);
    width: 50%;
    height: 500px;
    border: 1px solid grey;
    padding: 10px;
}

.heading{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#emailHelp{
    font-size: 10px;
}

  