.login{ 
    position: absolute;
    top: 20%;
    transform: translateY(-20%) translateX(50%);
    width: 50%;
    height: 500px;
    border: 1px solid grey;
    padding: 10px;
}

.heading{
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#emailHelp{
    font-size: 10px;
}

.error {
  color: #ff0000; /* Red text color for errors */
  font-size: 14px; /* Font size for error messages */
  margin-top: 4px; /* Spacing between the error message and the input field */
  white-space: pre-line
}