.register{ 
    position: absolute;
    top: 30%;
    transform: translateY(-25%) translateX(50%);
    width: 50%;
    height: 630px;
    border: 1px solid grey;
    padding: 10px;
}


.icon-container {
    display: inline-flex;
    align-items: center;
    position: relative;
}
  
.icon-container .message {
    display: none;
    position: absolute;
    white-space: nowrap;
    top: 0;
    left: 100%;
    margin-left: 10px;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1;
}
  
.icon-container:hover .message {
    display: block;
}
  