<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset your password</title>
  </head>
  <body>
    <h1>Reset your password</h1>
    <div id="confirmation"></div>
    <form>
      <label>Enter your old password</label>
      <input id="oldPassword" type="password" value="" />

      <label>Enter your password</label>
      <input id="password" type="password" value="" />

      <label>Confirm password</label>
      <input id="matchPassword" type="password" value="" />

      <button type="submit">Submit</button>
    </form>
    <script th:inline="javascript">
      document.addEventListener("submit", (event) => {
        event.preventDefault();
        const submitUrl = [[${submitUrl}]];
        const token = [[${token}]];
        const password = document.getElementById("password").value;
        const matchPassword = document.getElementById("matchPassword").value;
        const oldPassword = document.getElementById("oldPassword").value;
        const confirmationElem = document.getElementById("confirmation");
        if (password !== matchPassword) {
          confirmationElem.innerText = "Passwords do not match";
          return;
        }
        if (/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,25}/.exec(password) === null) {
          confirmationElem.innerText = "Invalid password. Ensure that your password contains at least 8 characters, has at least a symbol, a numeric character, and an upper and lowercase letter.";
          return;
        }
        fetch(submitUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ token, oldPassword, newPassword: password }),
        })
          .then((res) => {
            if (res.ok) {
              confirmationElement.innerText = "Successfully reset password!";
            } else {
              confirmationElem.innerText = res.text;
            }
          })
          .catch(() => {
            confirmationElem.innerText = "An error occurred.";
          });
      });
    </script>
    <a href="/login">Return to login screen</a>
  </body>
</html>
