<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset your password</title>
  </head>
  <body>
    <h1>Reset your password</h1>
    <div id="confirmation"></div>
    <form>
      <label>Enter your old password</label>
      <input id="oldPassword" type="password" value="" />

      <label>Enter your password</label>
      <input id="password" type="password" value="" />

      <label>Confirm password</label>
      <input id="matchPassword" type="password" value="" />

      <button type="submit" onclick="savePass()">Submit</button>
    </form>
    <script th:inline="javascript">
      function savePass() {
        const submitUrl = [[${submitUrl}]];
        const token = [[${token}]];
        const password = document.getElementById("password").value;
        const matchPassword = document.getElementById("matchPassword").value;
        const oldPassword = document.getElementById("oldPassword").value;
        const confirmationElem = document.getElementById("confirmation");
        if (password !== matchPassword) {
          confirmationElem.innerText = "Passwords do not match";
          return;
        }
        fetch(submitUrl, {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ token, oldPassword, newPassword: password }),
        }).then((res) => {
          if (res.ok) {
            confirmationElement.innerText = "Successfully reset password!";
          } else {
            confirmationElem.innerText = res.text;
          }
        }).catch(() => {
          confirmationElem.innerText = "An error occurred.";
        });
      }
      // const confirmationElement = document.getElementById("confirmation");
      // fetch(resendUrl).then(() => {
      //   confirmationElement.innerText = "Successfully sent email!";
      // }).catch(() => {
      //   confirmationElement.innerText = "An error occurred, contact the administrator.";
      // })
    </script>
    <a href="/login">Return to login screen</a>
  </body>
</html>
